USE [master]
GO
/****** Object:  Database [SmartInventoryDB]    Script Date: 4/23/2026 1:00:28 AM ******/
CREATE DATABASE [SmartInventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartInventoryDB', FILENAME = N'D:\Program Files\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartInventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartInventoryDB_log', FILENAME = N'D:\Program Files\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartInventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartInventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartInventoryDB]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Size] [nvarchar](20) NULL,
	[Color] [nvarchar](30) NULL,
	[ReorderPoint] [int] NULL,
	[ABC_Class] [char](1) NULL,
	[SellingPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesInvoices]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[CashierName] [nvarchar](100) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesInvoiceDetails]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesInvoiceDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DailySalesForAI]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DailySalesForAI] AS
SELECT 
    d.ProductID,
    p.ProductName,
    CAST(i.InvoiceDate AS DATE) AS SaleDate,
    SUM(d.Quantity) AS TotalQuantitySold
FROM 
    SalesInvoiceDetails d
JOIN 
    SalesInvoices i ON d.InvoiceID = i.InvoiceID
JOIN 
    Products p ON d.ProductID = p.ProductID
GROUP BY 
    d.ProductID, p.ProductName, CAST(i.InvoiceDate AS DATE);
GO
/****** Object:  Table [dbo].[DailyClosures]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyClosures](
	[ClosureID] [int] IDENTITY(1,1) NOT NULL,
	[ClosureDate] [date] NULL,
	[OpenedBy] [nvarchar](100) NULL,
	[ClosedBy] [nvarchar](100) NULL,
	[OpeningCash] [decimal](18, 2) NULL,
	[ExpectedCash] [decimal](18, 2) NULL,
	[ActualCashInDrawer] [decimal](18, 2) NULL,
	[TotalCardSales] [decimal](18, 2) NULL,
	[Difference] [decimal](18, 2) NULL,
	[IsClosed] [bit] NULL,
	[OpeningTime] [datetime] NULL,
	[ClosingTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClosureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NULL,
	[PasswordHash] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryBatches]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryBatches](
	[BatchID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[ReceiveDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnTransactions]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnTransactions](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ReturnedQty] [int] NOT NULL,
	[RefundAmount] [decimal](18, 2) NOT NULL,
	[ReturnDate] [datetime] NULL,
	[HandledBy] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[AgreedLeadTime] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplyTransactions]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NULL,
	[ProductID] [int] NULL,
	[SupplyDate] [date] NULL,
	[DefectPercentage] [decimal](5, 2) NULL,
	[Quantity] [int] NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 4/23/2026 1:00:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[ActionType] [nvarchar](100) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[LogDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DailyClosures] ON 

INSERT [dbo].[DailyClosures] ([ClosureID], [ClosureDate], [OpenedBy], [ClosedBy], [OpeningCash], [ExpectedCash], [ActualCashInDrawer], [TotalCardSales], [Difference], [IsClosed], [OpeningTime], [ClosingTime]) VALUES (4, CAST(N'2026-03-25' AS Date), N'Issa', N'Issa', CAST(50.00 AS Decimal(18, 2)), CAST(78.00 AS Decimal(18, 2)), CAST(78.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-03-25T18:36:53.883' AS DateTime), CAST(N'2026-03-25T18:37:26.343' AS DateTime))
INSERT [dbo].[DailyClosures] ([ClosureID], [ClosureDate], [OpenedBy], [ClosedBy], [OpeningCash], [ExpectedCash], [ActualCashInDrawer], [TotalCardSales], [Difference], [IsClosed], [OpeningTime], [ClosingTime]) VALUES (5, CAST(N'2026-03-25' AS Date), N'Issa', N'Ahmed', CAST(50.00 AS Decimal(18, 2)), CAST(460.00 AS Decimal(18, 2)), CAST(460.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-03-25T18:47:07.400' AS DateTime), CAST(N'2026-03-26T21:31:17.910' AS DateTime))
INSERT [dbo].[DailyClosures] ([ClosureID], [ClosureDate], [OpenedBy], [ClosedBy], [OpeningCash], [ExpectedCash], [ActualCashInDrawer], [TotalCardSales], [Difference], [IsClosed], [OpeningTime], [ClosingTime]) VALUES (6, CAST(N'2026-03-26' AS Date), N'Ahmed', N'Issa', CAST(55.00 AS Decimal(18, 2)), CAST(94.00 AS Decimal(18, 2)), CAST(94.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), 1, CAST(N'2026-03-26T21:31:27.990' AS DateTime), CAST(N'2026-03-26T21:34:43.987' AS DateTime))
SET IDENTITY_INSERT [dbo].[DailyClosures] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Role], [PasswordHash]) VALUES (1, N'Ahmed', N'Admin', N'123')
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Role], [PasswordHash]) VALUES (2, N'Moustafa', N'Warehouse', N'123')
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Role], [PasswordHash]) VALUES (3, N'Houthaifa', N'Cashier', N'123')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryBatches] ON 

INSERT [dbo].[InventoryBatches] ([BatchID], [ProductID], [Quantity], [ReceiveDate]) VALUES (6, 6, 7, CAST(N'2026-03-21' AS Date))
INSERT [dbo].[InventoryBatches] ([BatchID], [ProductID], [Quantity], [ReceiveDate]) VALUES (8, 7, 25, CAST(N'2026-03-25' AS Date))
INSERT [dbo].[InventoryBatches] ([BatchID], [ProductID], [Quantity], [ReceiveDate]) VALUES (10, 9, 21, CAST(N'2026-03-25' AS Date))
SET IDENTITY_INSERT [dbo].[InventoryBatches] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Barcode], [ProductName], [Size], [Color], [ReorderPoint], [ABC_Class], [SellingPrice]) VALUES (1, N'T1', N'Test3', N'L', N'Black', 20, N'C', CAST(7.00 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [Barcode], [ProductName], [Size], [Color], [ReorderPoint], [ABC_Class], [SellingPrice]) VALUES (4, N'ja1', N'Jeans', N'30-38', N'Jeans', 20, N'B', CAST(12.50 AS Decimal(10, 2)))
INSERT [dbo].[Products] ([ProductID], [Barcode], [ProductName], [Size], [Color], [ReorderPoint], [ABC_Class], [SellingPrice]) VALUES (5, N'aa1', N'Hut', N'M', N'Black', 10, N'B', CAST(3.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnTransactions] ON 

INSERT [dbo].[ReturnTransactions] ([ReturnID], [InvoiceNo], [ProductName], [ReturnedQty], [RefundAmount], [ReturnDate], [HandledBy]) VALUES (1, N'a', N'Hut', 1, CAST(3.00 AS Decimal(18, 2)), CAST(N'2026-04-20T01:00:25.053' AS DateTime), N'issa')
SET IDENTITY_INSERT [dbo].[ReturnTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesInvoiceDetails] ON 

INSERT [dbo].[SalesInvoiceDetails] ([DetailID], [InvoiceID], [ProductID], [Quantity], [Price], [Total]) VALUES (1, 1, 4, 1, CAST(12.50 AS Decimal(10, 2)), CAST(12.50 AS Decimal(10, 2)))
INSERT [dbo].[SalesInvoiceDetails] ([DetailID], [InvoiceID], [ProductID], [Quantity], [Price], [Total]) VALUES (2, 2, 4, 5, CAST(12.50 AS Decimal(10, 2)), CAST(37.50 AS Decimal(10, 2)))
INSERT [dbo].[SalesInvoiceDetails] ([DetailID], [InvoiceID], [ProductID], [Quantity], [Price], [Total]) VALUES (3, 3, 4, 1, CAST(12.50 AS Decimal(10, 2)), CAST(12.50 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[SalesInvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[SalesInvoices] ON 

INSERT [dbo].[SalesInvoices] ([InvoiceID], [InvoiceNo], [InvoiceDate], [CashierName], [TotalAmount], [PaymentMethod]) VALUES (1, N'INV-260320-220655', CAST(N'2026-04-01T01:47:10.803' AS DateTime), N'Houthaifa', CAST(12.50 AS Decimal(10, 2)), N'نقدي (كاش)')
INSERT [dbo].[SalesInvoices] ([InvoiceID], [InvoiceNo], [InvoiceDate], [CashierName], [TotalAmount], [PaymentMethod]) VALUES (2, N'INV-260320-220749', CAST(N'2026-04-04T01:47:10.803' AS DateTime), N'Houthaifa', CAST(37.50 AS Decimal(10, 2)), N'بطاقة (فيزا / مدى)')
INSERT [dbo].[SalesInvoices] ([InvoiceID], [InvoiceNo], [InvoiceDate], [CashierName], [TotalAmount], [PaymentMethod]) VALUES (3, N'INV-260320-220902', CAST(N'2026-04-17T01:47:10.803' AS DateTime), N'Houthaifa', CAST(12.50 AS Decimal(10, 2)), N'نقدي (كاش)')
SET IDENTITY_INSERT [dbo].[SalesInvoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Phone], [AgreedLeadTime]) VALUES (1, N'Grand Shop', N'0780000000000', 1)
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Phone], [AgreedLeadTime]) VALUES (2, N'QQ Shop', N'0781234567', 10)
INSERT [dbo].[Suppliers] ([SupplierID], [SupplierName], [Phone], [AgreedLeadTime]) VALUES (3, N'Algisi', N'0789654123', 4)
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[SupplyTransactions] ON 

INSERT [dbo].[SupplyTransactions] ([TransactionID], [SupplierID], [ProductID], [SupplyDate], [DefectPercentage], [Quantity], [UnitCost]) VALUES (2, 1, 4, CAST(N'2026-03-23' AS Date), CAST(5.00 AS Decimal(5, 2)), 30, CAST(3.50 AS Decimal(18, 2)))
INSERT [dbo].[SupplyTransactions] ([TransactionID], [SupplierID], [ProductID], [SupplyDate], [DefectPercentage], [Quantity], [UnitCost]) VALUES (3, 1, 5, CAST(N'2026-03-25' AS Date), CAST(3.00 AS Decimal(5, 2)), 10, CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[SupplyTransactions] ([TransactionID], [SupplierID], [ProductID], [SupplyDate], [DefectPercentage], [Quantity], [UnitCost]) VALUES (4, 3, 10, CAST(N'2026-03-31' AS Date), CAST(2.00 AS Decimal(5, 2)), 20, CAST(3.50 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SupplyTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] ON 

INSERT [dbo].[SystemLogs] ([LogID], [Username], [ActionType], [Details], [LogDate]) VALUES (1, N'issa', N'تسجيل دخول', N'تم تسجيل الدخول للنظام بنجاح', CAST(N'2026-04-19T03:09:03.120' AS DateTime))
INSERT [dbo].[SystemLogs] ([LogID], [Username], [ActionType], [Details], [LogDate]) VALUES (2, N'issa', N'تسجيل دخول', N'تم تسجيل الدخول للنظام بنجاح', CAST(N'2026-04-19T03:10:10.460' AS DateTime))
INSERT [dbo].[SystemLogs] ([LogID], [Username], [ActionType], [Details], [LogDate]) VALUES (3, N'ahmed', N'تسجيل دخول', N'تسجيل دخول بنجاح', CAST(N'2026-04-19T03:21:30.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemLogs] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__177800D3E1CF4CD8]    Script Date: 4/23/2026 1:00:29 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SalesInv__D796B22799C0BF84]    Script Date: 4/23/2026 1:00:29 AM ******/
ALTER TABLE [dbo].[SalesInvoices] ADD UNIQUE NONCLUSTERED 
(
	[InvoiceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DailyClosures] ADD  DEFAULT (CONVERT([date],getdate())) FOR [ClosureDate]
GO
ALTER TABLE [dbo].[DailyClosures] ADD  DEFAULT ((0)) FOR [OpeningCash]
GO
ALTER TABLE [dbo].[DailyClosures] ADD  DEFAULT ((0)) FOR [ExpectedCash]
GO
ALTER TABLE [dbo].[DailyClosures] ADD  DEFAULT ((0)) FOR [ActualCashInDrawer]
GO
ALTER TABLE [dbo].[DailyClosures] ADD  DEFAULT ((0)) FOR [TotalCardSales]
GO
ALTER TABLE [dbo].[DailyClosures] ADD  DEFAULT ((0)) FOR [Difference]
GO
ALTER TABLE [dbo].[DailyClosures] ADD  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[DailyClosures] ADD  DEFAULT (getdate()) FOR [OpeningTime]
GO
ALTER TABLE [dbo].[InventoryBatches] ADD  DEFAULT (getdate()) FOR [ReceiveDate]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0.00)) FOR [SellingPrice]
GO
ALTER TABLE [dbo].[ReturnTransactions] ADD  DEFAULT (getdate()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[SalesInvoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[SupplyTransactions] ADD  DEFAULT (getdate()) FOR [SupplyDate]
GO
ALTER TABLE [dbo].[SupplyTransactions] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[SupplyTransactions] ADD  DEFAULT ((0)) FOR [UnitCost]
GO
ALTER TABLE [dbo].[SystemLogs] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[InventoryBatches]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SalesInvoiceDetails]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[SalesInvoices] ([InvoiceID])
GO
ALTER TABLE [dbo].[SalesInvoiceDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SupplyTransactions]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[SupplyTransactions]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
USE [master]
GO
